# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/
ENV/

# IDEs
.idea/
.vscode/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS files
.DS_Store
Thumbs.db
